
body{
    
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 100%;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 0.625rem 1.25rem;
    text-decoration: none;
    
}
a:hover{
    color: #eaf6f6;;
}
.top-container{
    background-color:aliceblue;
    padding-top: 100px;
    position: relative;

}
.top-cloud{
    position: absolute;
    right: 200px;
    top: 100px;

}
.bottom-cloud{
    position:absolute;
    left: 150px;
    bottom: 300px;
}
.img{
    height:20%;
    width:20%;
    float: right;
    margin-left: 40px;
}
.img1{
    height:45%;
    width: 45%;
    float: left;
    margin-right: 40px;

}

h1{
    margin: 3.2rem auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 7.5rem;
    color:  #66BFBF;
    line-height: 2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF; 
    line-height: 2;
    font-size: 2rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    line-height: 2;

}
 hr {
        border-width: 7px;
        border-style: none;
        border-top-style: dotted;
        border-color:grey;
        width:10%;
        margin: 100px auto;
 
}
.middle-container{
    margin: 100px 0;
}
p{
    line-height: 2;
    font-size: 1.5rem;
}
.skill-row{
    margin: 4.375rem auto 4.375rem auto;
    text-align: left;
    width: 60%;
}
.BUTTON_DPP{
    margin-top: 3.215rem;
    background: #30E7DE;
    background-image: -webkit-linear-gradient(top, #30E7DE, #64DBD6);
    background-image: -moz-linear-gradient(top, #30E7DE, #64DBD6);
    background-image: -ms-linear-gradient(top, #30E7DE, #64DBD6);
    background-image: -o-linear-gradient(top, #30E7DE, #64DBD6);
    background-image: linear-gradient(to bottom, #30E7DE, #64DBD6);
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
     border-radius: 0.625rem;
     color: #FFFFFF;
     font-family: 'Montserrat', sans-serif;
     font-size: 1.25rem;
    padding: 1rem;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
     
}
    
    .BUTTON_DPP:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    }
.bottom-container{
    background-color:#1de4da;
    padding: 3rem 0 1.5rem;
}
.copy-right{
    font-size: 0.85rem;
    color: #eaf6f6;
    padding: 1.25rem 0;
}